body {
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container {
  width:80%;
  margin:auto;
  overflow:hidden;
}

header {
  background:#52585c;
  color:#ffffff;
  padding-top:30px;
  min-height: 70px;
  border-bottom:#5a0202 3px solid;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin:0;
}

header nav {
  float:right;
  margin-top:10px;
}

header li {
  display: inline;
  padding: 0 10px;
}

header a, #admin #nav a {
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header .highlight, header .current a {
  color:#5a0202;
  font-weight:bold;
}

header a:hover {
  color:rgb(170, 87, 87);
  font-weight:bold;
}

ul {
  margin:0;
  padding:0;
}

.submit_btn {
  height:38px;
  background:#5a0202;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
}

.back_btn {
  height:38px;
  background:#000000;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
}

.grey {
  padding:15px;
  background:#52585c;
  color:#ffffff;
  margin:10px 0;
}

#blogging {
  min-height:400px;
  background:url('../img/blogging.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#blogging h1 {
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#blogging p {
  font-size:20px;
}

#boxes {
  margin-top:20px;
}

#boxes .box {
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img {
  width:150px;
}

aside#sidebar {
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .submit_form input, aside#sidebar .submit_form textarea, aside#sidebar .submit_form select {
  width:90%;
  padding:5px;
}

aside#sidebar .col {
  margin: 10px 0;
}

article#main-col {
  float:left;
  width:65%;
}

#video-box {
  width: 100%;
}

#video-box video {
  display: block;
  margin: 0 auto;
  width: 70%;
}

ul#blogs li {
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}
 
#register_form, #admin_form {
  width: 50%;
  margin: 3% auto;
}

#register_form .submit_form input, #register_form .submit_form select, #register_form .submit_form input[type="email"],
#signin_form .submit_form input, #admin_form .submit_form input, #admin_form .submit_form textarea, 
#admin_form .submit_form select, #admin_form .submit_form input[type="email"] {
  width:90%;
  padding:10px;
}

#register_form .col, #signin_form .col, #admin_form .col {
  margin: 20px 10px;
}

#register_form, #signin_form, #admin_form {
  text-align : center;
}

#signin_form {
  width: 30%;
  margin: 7% auto;
}

#admin {
  padding:15px;
  color:#ffffff;
  background:#52585c
}

#admin #nav {
  margin-top: 10px;
  text-align : center;
}

#admin #nav li {
  display: inline-block;
  padding: 0 25px;
}

#admin #nav .current a {
  color:#1e1168;
  font-weight:bold;
}

#admin #nav a:hover {
  color:rgb(41, 108, 184);
  font-weight:bold;
}

footer {
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#5a0202;
  text-align: center;
}

/* ADMINISTRATION WEB */
.AddLink {
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #ffffff !important;
  margin: 8px 2px;
  padding: 5px;
  width: 100%;
  text-align: center;
  text-decoration: none;

}

/* Media Queries */
@media(max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #admin_form,
  #register_form,
  #signin_form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #video-box video {
    display: block;
    margin: 0;
    width: 100%;
  }

  #blogging h1{
    margin-top:40px;
  }

  .grey button {
    width: 90%;
  }
}
